body{
    margin: 0;
    background-color: lightslategray;
}

.navbar{
    background-color: white;
    padding: 20px;
    text-align: right;
}

.nav-link{
    background-color: orange;
    color: black;
    padding: .5em;
    border-radius: 12px;
}

